img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img + img {
  margin-top: 10px;
}

.facebook-icon {
  display: inline-flex;
  width: 200px;
  height: 200px;
  background-image: url('https://image.flaticon.com/icons/svg/145/145802.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
